NODE_ENV=development
PORT=4000

# postgresql://user:password@host:5432/dbname
DATABASE_URL=postgresql://cfms_user:cfms_password@localhost:5432/cfms_db

JWT_ACCESS_SECRET=replace_with_a_long_random_secret
JWT_REFRESH_SECRET=replace_with_a_different_long_random_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173
